    :root {
        --page-background-color:#121111;
        --page-text-color:#e8e8e8;
    }

    /* *{
        background-color: var(--page-background-color);
    } */

    .webpageDiv {
        border:1px solid red;
        padding-top:4em;
        height:100vh;
        display:flex;
        flex-direction: column;
        justify-self: center;
    }

    .headingDiv {
        border:1px solid blue;
        margin-top:6em;
    }

    .header {
        font-size: 5em;
        text-align: center;
    }

    .description {
        font-size:3em;
        padding-top:2em;
        text-align: center;
    }

    .regionSect {
        display: flex;
        justify-content: center;
    }

    .regionDiv {
        width:10em;
        height:10em;
        background-color: #e8e8e8;
        color:#121111;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .regionContainerTop {
        height:100%;
        border: 1px solid red;
        display: flex;
        flex-direction: row;
    }