    :root {
        --page-background-color:#121111;
        --page-text-color:#e8e8e8;
    }

    /* *{
        background-color: var(--page-background-color);
    } */

    .webpageDiv {
        padding-top:4em;
        height:100vh;
        display:flex;
        flex-direction: column;
        justify-self: center;
    }

    .headingDiv {
        margin-top:6em;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }

    .header {
        font-size: 5em;
        text-align: center;
        width:15em;
        margin-bottom: 1em;
    }

    .description {
        font-size:3em;
        text-align: center;
        margin-top:1em;
        margin-bottom: 1em;
    }

    .regionSect {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .regionDiv {
        width:10em;
        height:15em;
        background-color: #e8e8e8;
        color:#121111;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left:3em;
        margin-right: 3em;
    }

    .regionContainerTop {
        display: flex;
        flex-direction: row;
        margin-bottom: 3em;
        margin-top: 2em;
    }

    .regionContainerBottom{
        display: flex;
        
    }

    .regionIcon {
        height:5em;
        width: 5em;
        margin:auto;
    }