*{
  font-family: "Inter", sans-serif;
}

.navBarDiv {
    background-color:#121111;
    width: 100vw;
    height: 4em;
    position:fixed;
    display: flex;
    justify-content: left;
  }
  
  .navBar {
    display: flex;
    flex-direction: row;
    height: 100%;
    /* margin-left:21em; */
    padding-top:1em;
    
  }
  
  .navLink {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 0.3s;
    padding-left: 2em;
    padding-right:2em;
    color: #e8e8e8;
    text-decoration: none;
    font-size: 16px;
  }

  .icon{
    width:2.5em;
    margin-top: 8px;
    margin-left:12px;
  }
