  :root {
    --page-background-color:#121111;
    --page-text-color:#e8e8e8;
  }

  * {
    font-family: "Inter", sans-serif;
    background-color: var(--page-background-color);
  }
  
  .App {
    font-family: "Inter", sans-serif;
    text-align: center;
  }
  
  body {
    margin: 0;
  }
  
  .writingDiv {
    margin-top: 20em;
    margin-left: 10em;
    width: 40em;
    height: 40em;
    color: var(--page-text-color);
    line-height: 3em;
  }
  
  .welcomeH1 {
    text-align: left;
    font-size: 120px;
    margin-bottom: 50px;
    margin-top: 40px;
  }
  
  .prghDiv {
    font-size: 32px;
  }
  
  .picDiv {
    order: 2;
    width: 30em;
    height: 40em;
    margin-top: 10em;
    margin-left: 10em;
    background-color: #ffffff;
  }
  
  .infoSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .links {
    margin-top: 1.5em;
    margin-left: 35%;
  }
  
  button {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 0.3s;
    color: var(--page-text-color);
    width: 11.25em;
    height: 3.3125em;
    background-color: #5c0f0f;
    font-size: 1.25em;
    border-radius: 16px;
    border: none;
    margin-top:1em;
  }
  
  button:hover {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 0.3s;
    background-color: #831111;
    cursor: pointer;
  }
  
  .navLink:hover {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 0.3s;
    color: #b8b8b8;
  }
  



  