/* Characters webpage */
:root {
    --page-background-color:#121111;
    --page-text-color:#e8e8e8;
  }
* {
    margin: 0;
} 
.body:not(.regionBack){
    background-color: var(--page-background-color);
}

.characterWebpage {
    padding:5em;
    display:flex;
    justify-content: center;
    flex-direction: row;
}

.info {
    height:100%;
    width:60em;
    color:var(--page-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.regionBackParaDiv {
    width:100%;
    display:flex;
    justify-content: center;
}

.regionH1 {
    font-size: 5em;
    color:var(--page-text-color);
    padding:16px 0 16px 0;  
    width: 12em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* all p elements */
.regionBackParagraph{
    font-size: 1.3em;
    margin-top:1em;
    padding:0 16px 0 16px;
}

.charactersH2 {
    font-size:3em;
    margin-top:4px;
    margin-bottom: 1em;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.characterInfo {
    background-image: url("/adonFinal.jpg");
    height:7em;
    /* height:7em; */
}

/* all h2 header */
.characterName {
    font-size:2em;
    font-style: italic;
    font-weight: bold;
    margin-left: 16px;
    margin-top:1em;
}
    
.characterNickName {
    font-size:1.3em;
    margin-bottom:0.5em;
    margin-left: 28px;
    font-style: italic;
    color:var(--page-text-color);
}

.name {
    font-size:2.5em;
    font-style: italic;
    font-weight: bold;
    margin-left: 16px;
    color:#5c0f0f;
    padding-top:12px;
}

.charImageFig{
    height:25em;
    width: 18em;
}

.charImagesDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:5em;
    margin-top: 4em;
}
