/* Characters webpage */
:root {
    --page-background-color:#121111;
    --page-text-color:#e8e8e8;
  }
  
.body:not(.regionBack){
    background-color: var(--page-background-color);
}
.characterWebpage {
    padding:5em;
    display:flex;
    justify-content: center;
    flex-direction: row;
}

.info {
    height:100%;
    background-color: #5A5E63;
    width:60em;
}
  
.regionBack {
    background-color: #5A5E63;     
}

.regionBackParaDiv {
    width:100%;
    display:flex;
    justify-content: center;
}

.regionH1 {
    font-size: 5em;
    background-color: var(--page-background-color);
}
/* all p elements */
.regionBackParagraph{
    font-size: 1.3em;
    margin-bottom: 2em;
    padding:0 16px 0 16px;
}
.backgroundH2 {
    font-size:3em;
    margin-top:4px;
}

.characterInfo {
    background-image: url("/adonFinal.jpg");
    height:7em;
    /* height:7em; */
}

/* all h2 header */
.characterName {
    font-size:3em;
    font-style: italic;
    font-weight: bold;
    margin-left: 16px;
}
    
.characterNickName {
    font-size:1.3em;
    margin-bottom:0.5em;
    margin-left: 16px;
    font-style: italic;
}

.name {
    color:#5c0f0f;;
}

.regionLink{
    color:rgb(7, 7, 85);
    text-decoration: underline;
    font-size: 1em;
}

.charImageFig{
    height:25em;
    background-color: white;
    width: 18em;
}

.charImagesDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:5em;
    margin-bottom: 4em;
}